* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 10px;
    color: #fff;
    text-align: center;
}
body {
    font: Cookie, /*https://fonts.gstatic.com/s/cookie/v11/syky-y18lb0tSbf9kgqS.woff2*/;
    /*fix that*/
}
header{
    min-height: 8%;
    max-height: 12%;
    top: 0px;
}
header figure {
    float: left;
}
header h3 {
    font-weight: bolder;
    font-size: 2rem;
}
header span {
    font-weight:normal;
}
header h5 {
    color: orange;
}
header.topnav {
    float:right;
    text-transform: small-caps;
}
.topnav:hover {
    color: orange;
    /*cute pic that's hidden if no hover*/
}
.topshopnav:hover {
    outline-color: #fff;
    /*not quite what we want. review that video instruction*/
}
.hero {
    top: 8%;
    width: 100%;
    background-color: #000;
    min-height:1500px;
}
.hero figure {
    margin: auto;
}
.hero figcaption {
    font-size: 2rem;
    text-transform: uppercase;
}
.hero h1 {
    font-size: 3.6rem; 
}
.hero a {
    font-size: 1.6rem;
    padding: 3rem;
    font-weight:bold;
    text-decoration:none;
}
.hero a:hover {
    color: orange;
}
.specials {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content:center;
    background-color: #fff;
    padding: 3rem 0px;
}
.specials div {
    background-color: darkslategrey;
    /*prolly replace with image instead & change opacity*/
    width: 570px;
    height: 350px;
}
/*don't forget to specify diff font treatments*/
.specials h5 {
    font-family: cursive, sans-serif;
    font-size: 1rem;
}
.specials h3 {
    font-size: 1.6rem;
}
.specials span {
    color: green;
}
.specials h6 {
    font-size: 0.8rem;
}
.hooks {
    background-image: url("./img/desktop/desktop-assets_0000s_0031_lauren-mancke-sil2Hx4iupI-unsplash.jpg");
    /*don't forget to spec where this image goes once you have a real pic*/
    color: darkslategrey;
}
.hooks h5 {
    color: orange;
    /*comp has weird kerning*/
}
.hooks h3 {
    font-size: 2rem;    
}
.hooks p {
    padding: 1.6rem;
}
#benefits {
    display:flex;
    justify-content:space-between;
    align-content:baseline;
}
.benefits {
    margin: 2rem 1rem;
}
.benefits img {
    margin: 0.2rem auto;
}
.benefitspacer {
    margin: 2rem 1rem;
}